
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<br />
<br />
<div class="form-horizontal">

    <div class="form-group">
        <div class="col-md-5">
            User Name <input id="userNameTxt" class="form-control" type="text" placeholder="User Name" />
        </div>
    </div>

    <br />
    <div class="form-group">
        <div class="col-md-5">
            Password <input id="passwordTxt" class="form-control" type="password" placeholder="Password" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            @Html.ActionLink("Create an account", "CreateAccount")
            <br /><br />
            <input type="submit" value="Login" class="btn btn-primary" id="loginBtn" />
        </div>
    </div>

    <p style="font-size:larger; color:red" id="errormsg"></p>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        $('#loginBtn').click(function () {
            var varUserName = $('#userNameTxt').val();
            var varPassword = $('#passwordTxt').val();

            $.ajax({
                method: "POST",
                url: "https://localhost:44338/api/User/GetByDetails",
                accepts: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    UserName: varUserName,
                    Password: varPassword,
                }),
                success: function (data) {
                    sessionStorage.setItem('accessToken', data);
                    window.location.href = "@Url.Action("Index", "Home")";
                },
                error: function (error) {
                    $('#errormsg').text("Invalid details");
                }
            })
        });
    })
</script>

